body {
    margin: 0 auto;
    height: 100%;
}
.background {
    background-image: url('../img/buddah.jpg');
    background-position: center;
    background-size: 100% 100%;
    /*background-repeat: none;*/
    height: 1388px;
    width: 100%;
    /*border: solid black;*/
    margin-top: 75px;
}



/*.background-img {*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    background-repeat: none;*/
/*    height: 100%;*/
/*    width: 1450px;*/
/*    margin-top: 75px;*/
/*}*/

.box-text {
    /*border: 1px solid orange;*/
    background-color: rgba(64, 64, 64, .5);
    height: 715px;
    width: 480px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 350px;
    left: 34%;
    /*box-shadow: 1px 1px .5px;*/
    border-radius: .5%
}

.text {
    color: #fff;
    text-shadow: 1px 1px 1spx;
    padding: 6px;
}

