.message {
    margin: 0 auto;
    margin-top: 75px;
    /*border: 1px solid black;*/
    height: 100px;
    width: 100%;
    background-color: rgb(38, 38, 38);
    color: #fff;
    text-align: center; 
    /*padding: 1px;*/
}



/*.contact-info {*/
/*    border: 1px dashed red;*/
    /*margin: 0 auto;*/
    /*margin-top: 75px;*/
/*}*/

.map {
    height: 415px;
    width: 75px;
    /*position: absolute;*/
    margin-left: 500px;
}