body {
    margin: 0 auto;
}
.nav-bar {
    height: 75px;
    width: 100%;
    background-color: rgba(236, 217, 198, .8);
    top: 0;
    position: absolute;
}

.list-items {
    list-style: none;
    margin-right: 15px;
    margin-top: 1px;
    display: inline-block;
    color: #fff;
}

li a {
    text-decoration: none;
    margin-top: 5px;

}

.nav-items {
    float: right;
    margin-top: 19px;
}

.banner {
    background-image: url(../img/alone2.jpg);
    height: 375px;
    width: 100%;
    background-size: 100% 100%;
    margin-top: 75px;
    box-shadow: 1px 1px 1px;
}
.body {
    display: block;
}
.body-col {
    height: 600px;
    width: 425px;
    display: inline-block;
    box-shadow: 1px 1px 1px;
    vertical-align: top;
    margin: 20px;
    margin-top: 60px;
    margin-bottom: 75px
}

.tree {
    height: 525px;
    margin: 20px;
}
p {
    margin: 7px;
    
}

.hippie {
    /*border: 1px solid rgb(153, 204, 255);*/
    /*box-shadow: 1px 1px 1px;*/
    
}

.footer {
    height: 75px;
    width: 100%;
    background-color: rgb(38, 38, 38);
    /*margin-top: 60px;*/
}

.footer-col {
    width:32%;
    height: 75px;
    /*border: 1px dashed white;*/
    display: inline-block;
    vertical-align: top;
    margin: 2px;
}

.footer-button {
    height: 25px;
    width: 75px;
    border-radius: 20px;
    font-size: 17px;
    margin-left: 197px;
    margin-top: 25px;
    background-color: rgba(236, 217, 198, .8);
}

.icon {
    color: rgba(236, 217, 198, .8);;
}

.social-wrap {
    margin-left: 175px;
    margin-top: 22px;
    
}

.rights {
    color: rgba(236, 217, 198, .8);
    margin-top: 33px;
    margin-left: 60px;
}